//
// Charte demo extranet
// -----------------------------------------------------

@import "../bootstrap/variables.less";


.tabs-panel {
	background: #fff;
	margin-top : 10px;
	.tab-content {
		padding : 20px;
	}
}

