//
// Charte demo extranet
// -----------------------------------------------------

@import "../bootstrap/variables.less";


.head-title {
	background-color: #3498db;
	padding: 15px 25px;
	margin: 0 0 20px;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
}

.head-title-alt {
	padding: 13px 20px;
	font-size: 18px;
	color: #3498db;
	background: #fff;
	border-bottom: 4px solid #3498db;
	border-radius: 5px 5px 0 0;
}
